<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>GLSL - Three.js Tutorial</title>
  <meta name="description" content="An on-working guide to GLSL shaders using THREE.js.">
  <meta name="author" content="Davide Aversa">

  <link rel="stylesheet" href="css/styles.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <header class="center">
      <h1>A GLSL Quest</h1>
      <h2>An on-working guide to GLSL shaders using THREE.js</h2>
      <a class="btn" href="./basics/">ENTER!</a>
  </header>
</body>
</html>